* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #e2dff4, #cbc4d9);
    padding: 40px;
}

.title {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

.card {
    background: rgba(255, 255, 255, 0.4);
    border: 1.8px solid #2c2c2c;
    width: 290px;
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s ease;
}

.card:hover {
    transform: scale(1.04);
}

.icon {
    font-size: 55px;
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

p {
    color: #333;
    font-size: 15px;
    margin-bottom: 25px;
}

button {
    background: purple;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
}

button:hover {
    background: #222;
}
